    <!-- renderiza apenas se houver um toast ativo no signal -->
    @if (toastService.toast(); as data) {
      <div
        class="fixed bottom-5 right-5 z-50 flex items-center gap-3 max-w-sm p-4 rounded-xl border shadow-2xl animate-slide-in backdrop-blur-md transition-all duration-300"
        [ngClass]="{
          'bg-emerald-950/90 border-emerald-500/30 text-emerald-200': data.tipo === 'success',
          'bg-red-950/90 border-red-500/30 text-red-200': data.tipo === 'error',
          'bg-blue-950/90 border-blue-500/30 text-blue-200': data.tipo === 'info'
        }"
      >
        <!-- Ícone Dinâmico de Sucesso ou Erro -->
        @switch (data.tipo) {
          @case ('success') {
            <svg lucideCheckCircle class="w-5 h-5 text-emerald-400 shrink-0" ></svg>
          }
          @case ('error') {
            <svg lucideXCircle class="w-5 h-5 text-emerald-400 shrink-0"></svg>
          }
          @case ('info') {
            <svg lucideInfo class="w-5 h-5 text-blue-400 shrink-0"></svg>
          }
        }

        <!-- Texto da Mensagem -->
        <span class="text-xs font-medium tracking-wide pr-2">
          {{ data.mensagem }}
        </span>

        <!-- Botão para fechar manualmente -->
        <button
          type="button"
          (click)="toastService.fechar();"
          class="ml-auto p-1 rounded-lg transition-colors duration-200"
          [ngClass]="{
            'hover:bg-emerald-800/40 text-emerald-400': data.tipo === 'success',
            'hover:bg-red-800/40 text-red-400': data.tipo === 'error',
            'hover:bg-blue-800/40 text-blue-400': data.tipo === 'info'
          }"
        >
          <svg lucideX class="w-3.5 h-3.5"></svg>
        </button>
      </div>
    }

